.property-div{
    margin-top: 20px;
}

.button-div{
    margin-top: 20px;
}

.tag-row{
    margin-left: -155px;
}


body{
    font-size: 14px;
}
.row{
    margin-left: :-15px;
}

.property-image{
    min-height: 161px;
    background-color: #fafbfc;
    border-radius: 20px;
}

.property-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

table{
    margin-bottom: -30px;
    margin-top: -6px;
}

.property-main-div{
    padding-left: 0px;
}

.ui-icon {
        font-size: 1.2em;
    }

.property-id{
    height: 161px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fafbfc;
    border-radius: 8px;
}
/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 5px;
    border: 0;   
    margin-left: 10px; 
}
.nav-tabs > li > a {
    background: #F8F8F8;
    /*background:#FFFFFF;*/
    /*border-radius: 0;*/
    /*box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);*/
}
./*nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    /*box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);*/
}*/

/* Tab Content */
.tab-pane {
    background: #FFFFFF;
    border-radius: 0;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #fafbfc;
}

.mytab li:after {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: 10px;
    background: #f00;
}

.img-class{

    margin-top:20px;
}

.property-row{
    padding: 3px;
}

.row-id{
    margin-left: 14px;
}

..btn-default:hover{
    width:80%;
}